/**
 * reset.css:
 * Credit to https://github.com/centralcollegenottingham/HTML-Email-Boilerplate-Redux.
 * Seriously, check that out.
 */


#outlook a { padding:0; }
body { width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; }
.ReadMsgBody { width:100%; }				
.ExternalClass { width:100%; }
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height:100%; }
#wrappertable { margin:0; padding:0; width:100% !important; line-height:100% !important; }
a, a:link { color:#e6057f; text-decoration:underline; }
img { border:none; outline:none; text-decoration:none; -ms-interpolation-mode:bicubic; }
.img-fix { display:block; }
p { margin:1em 0; }
h1, h2, h3, h4, h5, h6 { color:black !important; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color:blue !important; }
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active { color:red !important; }
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited { color:purple !important; }
table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
table td { border-collapse:collapse; }
span.yshortcuts, a span.yshortcuts { color:#000000; background-color:none; border:none; } 
span.yshortcuts:hover, span.yshortcuts:active, span.yshortcuts:focus { color:#000000; background-color:transparent; border:none; }
.appleLinksWhite a, .appleLinksBlack a { text-decoration:none !important; }
.appleLinksWhite a { color:#ffffff !important; }
.appleLinksBlack a { color:#000000 !important; }


/* added by us */
@media only screen and (max-width:480px) {
  body {
    width:100% !important;
    min-width:100% !important;
  } /* Force iOS Mail to render the email at full width. */
}

/* https://www.campaignmonitor.com/blog/post/3339/save-your-layout-by-overriding-the-minimum-font-size-on-the-iphone-and/ */
div, p, a, li, td { -webkit-text-size-adjust:none; }
